[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "bundle/qbs.vim"]
	path = bundle/qbs.vim
	url = https://bitbucket.org/JohnKaul/qbs.vim
[submodule "bundle/vim-gtest"]
	path = bundle/vim-gtest
	url = https://github.com/alepez/vim-gtest
